

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --bs-body-font-family:" Robot ,serif";
  font-family: Roboto ,serif;
  line-height: 1.5;

}

body{
  font-family: Roboto, serif;
}

